/* fonts and colors section */
* {
    /* todo: supposed to be Roboto, I don't see it in my list */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0px;
}

.dark-background-color {
    background-color: #1f2937;
}

.hero-main-text {
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
}

.hero-logo-text {
    color: #f9faf8;
    font-size: 24px;
}

.button-color {
    color:#3882f6;
}

.fixed-width {
    max-width: 1000px;
    margin: auto;
}

/* header section */
.header {
    display: flex;
    align-items: center;
    padding: 16px;
    text-decoration:none;
    list-style: none;
    gap: 16px;
}

.header-link1 {
    margin-left: auto;
}

p {
    margin: 0;
}

/* hero section */
.hero {
    display: flex;
    margin: auto;
    padding: 48px 0px;
}

.hero-left {
    width: 50%;
    padding: 16px;
}

.hero-right {
    width: 50%;
    padding: 16px;
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* second section */
.second-section {
    background-color: white;
    text-align: center;
    padding: 48px 0px;
}

.info-header-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.random-list {
    display: flex;
    flex:none;
    justify-content:center;
    list-style: none;
    padding: 32px;
    margin: 0;
    gap: 32px;
    flex-wrap: wrap;
}

.list-item {
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.list-box {
    border: 2px solid #3882f6;
    width: 175px;
    height: 175px;
    border-radius: 50%;
}

.interesting-quote-section {
    background-color: #e5e7eb;
    padding: 64px 0px;
}
/* quote section */

.quote-section {
    max-width: 800px;
    margin: auto;
}

.quote {
    color:#1f2937;
    font-size: 28px;
    font-style: italic;
    padding: 0px 16px;
}

.quote-author {
    font-size: 24px;
    text-align: right;
    font-weight: 900;
    padding: 16px;
}

/* call to action section */
.call-section {
    background-color: white;
    padding: 64px 0px;
}

.call-box {
    background-color: #3882f6;
    border-radius: 8px;
    margin: auto;
}

.call-items {
    padding: 32px 16px;
    max-width: 800px;
    margin: auto;
    display: flex;

    align-items: center;
    justify-content:center;
    color:#e5e7eb;
}

.call-items .bold-text {
    font-weight: 900;
    font-size: 24px;
}

.call-right, .call-left {
    flex:auto;
}

.call-right {
    min-width: 64px;
}

.call-right button {
     /* width: 256px;  */
     width: 100%;
    height: 64px;
    background-color: #3882f6;
    color: #e5e7eb;
    border: 2px solid #e5e7eb;
    border-radius: 8px;
}

/* footer section */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
    padding: 32px;
}