body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.mc {
    margin: 0;
    max-width: 800px;
}
.header-container {
    align-items: center;
    font-size: 24px;
    display: flex;
    height: 80px;
}

.right-links {
    color: #E5e7eb;
    font-size: 18px;
    margin-left: auto;
    display: flex;
    gap: 12px;
}

.header-container, .content-container {
    padding: 16px;
    color: #F9FAF8;
    background-color: #1f2937;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
}

h3 {
    font-size: 48px;
    font-weight:bolder;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

.left-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 32px;
    width: 500px;
}

.sign-up-button {
    width: 100px;
    height: 30px;
    flex-grow: 0;
}

.right-content {
    background-color: gray;
    color: whitesmoke;
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin-left: auto;
}

.info-container {
    display: flex; 
    flex-direction: column;
    margin-top: 32px;
    margin-bottom: 32px;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.title {
    font-weight: bold;
    font-size: 32px;
}

.box-container {
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    width: 128px;
}

.box-image {
    width: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}

.box-text {
    text-align: center;
}

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px;
    font-size: 24px;
    flex-direction: column;
    background-color: #E5e7eb;
}

.signature {
    font-weight: bold;
    align-self: flex-end;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0px;
}

.bluething {
    background-color: #3882F6;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 48px;
    width: 50%;
}

.left-thing {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.right-thing {
    margin-left: auto;
}

.signup-button {
    padding: 6px 24px;
    border-radius: 8px;
    color: #F9FAF8;
    background-color: #1f2937;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding: 24px 0px;
}